.pagination-container {
    width: 60%;
}

.page-button {
    border: none;
    padding: 8px 16px;
    margin: 0 1rem;
    cursor: pointer;
    background-color: #2196f3;
    color: white;
    border-radius: 50%;
}

.page-button.inactive {
    background-color: #f1f1f1;
    color: black;
    cursor: no-drop;
}

.page-button.selected {
    background-color: white;
    color: #2196f3;
    border: 1px solid #2196f3;
}