.input-group-custom{
    position: relative;
    width: 100%;
    display: flex;
    align-items: stretch;
}

.form-control-custom {
    width: 100%;
    padding: 0.5rem;
}

.position-absolute-custom{
    position: absolute;
    right: 5px;
    
}